[submodule "wp-content/plugins/contact-form-7"]
	path = wp-content/plugins/contact-form-7
	url = /files/Git/assets/contact-form-7.git/
[submodule "wp-content/plugins/the-events-calendar"]
	path = wp-content/plugins/the-events-calendar
	url = git@github.com:wvega/the-events-calendar.git
