/* =Reset
-------------------------------------------------------------- */
*{margin:0;padding:0;}

article, aside, figure, footer, header, hgroup, nav, section {display: block;}
h1,h2,h3,h4,h5,h6{padding:0;}
ul{margin:0;}

/* =General
---------------------------------------------------------------*/
body{
	background:#ebf6f8 url(images/bgeventries.jpg) top left no-repeat;
	font-family: 'Lucida Grande',Verdana,sans-serif;
}

img{border:0;}
.alignleft{float:left;}
.alignright{float:right;}

/* =Layout
----------------------------------------------------------------*/
#wrapper{
	width:960px;
	margin:12px auto;	
}

#eventriesh{
    margin-bottom:12px;
}
    #eventriesh h1 a, #eventriesh h2 a{
        background:transparent url(images/logoeventries.png) top left no-repeat;
        display:block;
        height:112px;
    }
    #eventriesh h1 span, #eventriesh h2 span{
        display:none;
    }

#menusp{
	background:url(images/mainnavbg.png) top left no-repeat;
	padding: 15px 15px 0;
	height:42px;
}
	#menusp ul{
		background:url(images/transmainsup.png) top left repeat;
		height:42px;
		width:690px;
	}
		#menusp ul li{
			display:block;
			float:left;
			padding:12px 12px 11px;
			overflow:hidden;
		}
			#menusp ul li a{
				color:#fff;
				text-decoration:none;
			}
				#menusp ul li.active{background-color:#fff;}
				#menusp ul li.active a{color:#333;}
			#menusp ul li:hover{background-color:#345b8d;}


#mainbody{
	background-color:#5695Bf;
	overflow:hidden;
	padding:0 15px 15px 15px;
}
	#maininner{
		background-color:#fff;
		float:left;
		padding:15px;
		position:relative;
		width:660px;
		box-shadow: 0 0 5px rgba(0, 0, 0, .4);
		-moz-box-shadow: 0 0 5px rgba(0, 0, 0, .4);
		-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, .4);
	}
		#slide{margin:9px 0;}
		#eventosEventries{
			margin:12px 0;
		}
			#eventosEventries #titulareventos{
				border-bottom:1px solid #ccc;
				margin-bottom:32px;
			}
			#eventosEventries header h2 a{
				color:#5292C9;
				text-decoration:none;
			}
			#eventosEventries .meta{
				background:#deeff7 url(images/metahentrybg.png) top right no-repeat;
				border-width: 1px 0 1px 1px;
				border-style: solid;
				border-color:#c1deec;
				height:37px;
			}
				.meta .eventoCreated{
					background:url(images/datecreatedbg.png) top left no-repeat;
					color:#fff;
					height:37px;
					padding:1px 10px;
					width:70px;
				}
					.eventoCreated span.date {
					    display: block;
					    float: left;
					    font-size: 150%;
					    font-weight: bold;
					    line-height: 1;
					    margin-right: 5px;
					    padding-top: 4px;
					}
					.eventoCreated .month, .eventoCreated .year {
					    display: block;
					    font-size: 9px;
					    line-height: 1;
					    margin-top:5px;
					    text-transform: uppercase;
					}
				.hentry{
					border-bottom:1px solid #dbe8f4;
					margin-bottom:23px;
					}
				.hentry h2{
					font-family: 'Amaranth', arial, serif;
					margin-bottom:9px;
					font-weight:normal;
				}
				.hentry p{
					font-size:14px;
					margin:12px 0;
				}
	
	#sidebar{
		float:right;
		position:relative;
		width:240px;
	}
		#sidebar aside{
			background:url(images/dot-sep-side.png) bottom left repeat-x;			
			margin-bottom:15px;
			padding-bottom:32px;
		}
		#sidebar h3{
			font-family:'Amaranth',arial,serif;
		}
		
		#buscador{
			padding-left:12px;
		}
			#buscador #search{
				-moz-border-bottom-colors: none;
			    -moz-border-image: none;
			    -moz-border-left-colors: none;
			    -moz-border-right-colors: none;
			    -moz-border-top-colors: none;
			    background: url(images/search.png) no-repeat scroll 210px center #81AFCF;
			    border-color: -moz-use-text-color -moz-use-text-color #C0D8E7;
			    border-radius: 5px 5px 5px 5px;
			    border-style: none none solid;
			    border-width: 0 0 1px;
			    box-shadow: 0 2px 3px #4577a5 inset;
			    color: #fff;
			    height: 18px;
			    line-height: 10px;
			    outline: medium none;
			    padding: 5px 0 5px 10px;
			    width: 218px;
			}
			#buscador #search:focus{
				background-image:none;
			}
			
		#lastevents h3{
			color:#fff;
			padding:0 0 12px 12px;
			text-shadow:0 1px 1px rgba(0, 0, 0, 0.5);
			text-transform:uppercase;
		}
		#lastevents ul{
			font-size:13px;
			list-style-type:none;	
		}
			#lastevents ul li{
				background:transparent url(images/bullets.png) no-repeat scroll 13px 7px;
				padding-left:25px;
			}
				#lastevents ul li a{
					color:#fff;
					text-decoration:none;
				}
				#lastevents ul li a:hover{
					text-decoration:underline;
				}

#mainnav{
	
}
