/* =Reset
 ---------------------------------------------------------------------------- */
*{margin:0;padding:0;}

article, aside, figure, footer, header, hgroup, nav, section {display: block;}
h1,h2,h3,h4,h5,h6{padding:0;}
ul{margin:0;}

/* new clearfix */
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
    }
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

/* =General
 ---------------------------------------------------------------------------- */
body{
	background:#ebf6f8 url(images/bgeventries.jpg) top left no-repeat;
	font-family: 'Lucida Grande',Verdana,sans-serif;
}

img{border:0;}
.alignleft{float:left;}
.alignright{float:right;}

a {
    text-decoration: none;
}

/* =Layout
 ---------------------------------------------------------------------------- */
#wrapper{
	width:960px;
	margin:12px auto;	
}

#eventriesh{
    margin-bottom:12px;
}
    #eventriesh h1 a, #eventriesh h2 a{
        background:transparent url(images/logoeventries.png) top left no-repeat;
        display:block;
        height:112px;
    }
    #eventriesh h1 span, #eventriesh h2 span{
        display:none;
    }

#menusp{
	background:url(images/mainnavbg.png) top left no-repeat;
	padding: 15px 15px 0;
	height:42px;
}
	#menusp ul{
		background:url(images/transmainsup.png) top left repeat;
		height:42px;
		width:690px;
	}
		#menusp ul li{
			display:block;
			float:left;
			padding:12px 12px 11px;
			overflow:hidden;
		}
			#menusp ul li a{
				color:#fff;
				text-decoration:none;
			}
				#menusp ul li.active{background-color:#fff;}
				#menusp ul li.active a{color:#333;}
			#menusp ul li:hover{background-color:#345b8d;}


#mainbody{
	background-color:#5695Bf;
	overflow:hidden;
	padding:0 15px 15px 15px;
}
	#maininner{		
		float:left;		
	}
	    #maininnerp{
	        background-color:#fff;
	        padding:15px;
		    position:relative;
		    width:660px;
		    box-shadow: 0 0 5px rgba(0, 0, 0, .4);
		    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, .4);
		    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, .4);
	    }
		#slide{
		    background: #999;
		    width: 660px;
		    height: 250px;
		    margin:9px 0;
		    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4) inset;
		    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4) inset;
		    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4) inset;
		}
		#eventosEventries{
			margin:12px 0;
		}
			#eventosEventries #titulareventos {
				border-bottom:1px solid #ccc;
				margin-bottom:32px;
			}
			#eventosEventries header .entry-title a {
				color:#5292C9;
				color: #102835;
				text-decoration:none;
			}
			#eventosEventries header .entry-meta {
				background:#deeff7 url(images/metahentrybg.png) top right no-repeat;
				border-width: 1px 0 1px 1px;
				border-style: solid;
				border-color:#c1deec;
				height:37px;
			}
				#eventosEventries header .entry-meta .eventoCreated{
					background:url(images/datecreatedbg.png) top left no-repeat;
					color:#fff;
					height:37px;
					padding:1px 10px;
					width:70px;
				}
					#eventosEventries header .entry-meta .eventoCreated span.date {
					    display: block;
					    float: left;
					    font-size: 150%;
					    font-weight: bold;
					    line-height: 1;
					    margin-right: 5px;
					    padding-top: 4px;
					}
					#eventosEventries header .entry-meta .eventoCreated .month,
					#eventosEventries header .entry-meta .eventoCreated .year {
					    display: block;
					    font-size: 9px;
					    line-height: 1;
					    margin-top:5px;
					    text-transform: uppercase;
					}
				.hentry{
					border-bottom:1px solid #dbe8f4;
					font-family: 'Droid Sans', sans-serif;
					margin-bottom:23px;
					}
				.hentry .entry-title {
					font-family: 'Amaranth', arial, serif;
					font-family: 'Oswald', sans-serif;
					font-size: 2em;
					margin-bottom:9px;
					font-weight:normal;
				}
				.hentry p {
					font-size:14px;
					margin:12px 0;
				}
				
				.event-info {
				    background: #F6F6F6;
				    float: right;
				    font-size: 0.8em;
				    margin: 0 0 10px 10px;
				    padding: 10px 10px;
				    width: 330px;
				    -moz-border-radius: 1px;
				    -moz-box-shadow: 1px 1px 2px rgba(0,0,0,0.6);
				    box-shadow: 1px 1px 2px rgba(0,0,0,0.6);
		            -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.6);
				    
				}
				.event-info b {
                    float: left;
                    font-family: 'Oswald', sans-serif;
                    font-weight: normal;
                    width: 130px;
				}
				.event-info span {
				    float: left;
				    line-height: 17px;
				    padding-top: 3px;
                    width: 200px;
				}
				.event-info .map {
				    border: 1px solid #DDD;
				    height: 200px;
                    margin-top: 10px;
				}
		    #eventosEventries footer {
		        background: #dbe8f4;
		        font-size: 13px;
		        margin-top: 15px;
		        padding: 4px 8px;
		        overflow: hidden;
		    }
		    #eventosEventries footer a {
		        color: #102835;
		        font-weight: bold;
		    }
		    #eventosEventries footer a:hover {
		        text-decoration: underline;
            }
            #eventosEventries footer .comments-link {
                float: right;
            }
            
	#sidebar{
		float:right;
		position:relative;
		width:240px;
	}
		#sidebar aside{
			background:url(images/dot-sep-side.png) bottom left repeat-x;			
			margin-bottom:15px;
			padding-bottom:32px;
		}
		#sidebar h3{
			font-family:'Amaranth',arial,serif;
		}
		
		#buscador{
			padding-left:12px;
		}
			#buscador #search{
				-moz-border-bottom-colors: none;
			    -moz-border-image: none;
			    -moz-border-left-colors: none;
			    -moz-border-right-colors: none;
			    -moz-border-top-colors: none;
			    background: url(images/search.png) no-repeat scroll 210px center #81AFCF;
			    border-color: -moz-use-text-color -moz-use-text-color #C0D8E7;
			    border-radius: 5px 5px 5px 5px;
			    border-style: none none solid;
			    border-width: 0 0 1px;
			    box-shadow: 0 2px 3px #4577a5 inset;
			    color: #fff;
			    height: 18px;
			    line-height: 10px;
			    outline: medium none;
			    padding: 5px 0 5px 10px;
			    width: 218px;
			}
			#buscador #search:focus{
				background-image:none;
			}
			
		#lastevents h3{
			color:#fff;
			padding:0 0 12px 12px;
			text-shadow:0 1px 1px rgba(0, 0, 0, 0.5);
			text-transform:uppercase;
		}
		#lastevents ul{
			font-size:13px;
			list-style-type:none;	
		}
			#lastevents ul li{
				background:transparent url(images/bullets.png) no-repeat scroll 13px 7px;
				padding-left:25px;
			}
				#lastevents ul li a{
					color:#fff;
					text-decoration:none;
				}
				#lastevents ul li a:hover{
					text-decoration:underline;
				}

#mainnav{
	
}

/* =Plugins
 ---------------------------------------------------------------------------- */
 
/* Pagenavi */
#paginate{
    width:690px;
}
div.wp-pagenavi {
	overflow:hidden;
	font-size:15px;
}
div.wp-pagenavi a, div.wp-pagenavi span.pages, div.wp-pagenavi span.current {
	padding:9px;
	display:inline-block;
}
div.wp-pagenavi a, div.wp-pagenavi a:link, div.wp-pagenavi a:visited, div.wp-pagenavi a:active {
	background-color:#daebf5;
	border-right: 1px solid #bdd9ee;
	color:#5292C9;
}
div.wp-pagenavi a:hover {
	background-color:#eee;
	text-decoration:underline;
}
div.wp-pagenavi span.pages, div.wp-pagenavi span.extend {
	display:none;
}
div.wp-pagenavi .page {
}
div.wp-pagenavi span.current {
	background-color:#fff;
	color:#506169;	
	font-weight: bold;
}
.previouspostslink,.nextpostslink{
    background-color:#345b8d!important;
    border:none!important;
    color:#fff!important;
    font-weight:bold;
}
.previouspostslink:hover,.nextpostslink:hover{
    text-decoration:none!important;
}
